@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-900 text-slate-200 antialiased overflow-x-hidden;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-dark-900;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}